body{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lacquer', sans-serif;
}
.title{
    font-family: 'Lacquer', sans-serif;
}
.back_black1{
    background-color:#17202A ;
}

.color_black1{
    color:#000000; 
}

.addSize{
    font-size: 125%;
}

.text-end{
    text-align: end;
}

.done{
    text-decoration: line-through;
    color: #7B241C;
}