<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task App</title>
    <!--BOOTSWATCH-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css">
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lacquer&display=swap" rel="stylesheet">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <main class="container p-4">
        <h1 class="display-3 text-center mt-4 title color_black1">Task App</h1>
        
    <div class="row">
        <div class="col-md-4 offset-md-4 my-4">
            <div class="card back_black1"> 
                <div class="card-header back_black1">
                    <form action="/add-task" method="POST">
                        <div class="form-group back_black1">
                            <input type="text" name="content" placeholder="Task" class="form-control addSize" autofocus>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block addSize color_black1">
                            Save Task
                        </button>
                    </form>

                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for task in tasks %}
                        <li class="list-group-item">
                            {{task.content}}
                            <div class="text-end">
                                    <a href="" class="btn btn-success btn-sm">Done</a>
                                    <a href="" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </main>
</body>
</html>